{% extends 'main/base.html' %}

{% block title %} Create an account {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mt-2">Create a User Account</h1>
    <form action="." method="POST" class="form-group">
         {{form|crispy}}{% csrf_token %}
        <button 
            style="float: right; margin-bottom:10px;margin-top: 5px;" 
            type="submit" 
            class="btn btn-success btn-lg"
        >Register</button>

    </form>
{% endblock %}

{% block login_content %}
    <h1 class="mt-2">Create a User Account</h1>
    <form action="." method="POST" class="form-group">
         {{form|crispy}}{% csrf_token %}
        <button style="float: right; margin-bottom:10px;margin-top: 5px;" type="submit" class="btn btn-success btn-lg">Register</button>
    </form>
{% endblock %}
